.first-task{
    margin:50px 0;
    padding:0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .item1{
        width: 30%;
        display: flex;
        align-items: center;
        margin:20px 0;
        &:hover .icon{
            background: #427cff;
            color:#fff;
            border:1px solid #427cff;
        }
    }
    .icon{
        border:1px solid #ddd;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color:#427cff;
        margin-right: 15px;
        svg{
            font-size: 30px;
        }
    }
    .block{
        flex: 1;
    }
    h6{
        font-size: 16px;
        margin-bottom: 5px;
    }
    p{
        font-size: 15px;
    }
}
@media(max-width:1000px){
    .first-task .item1{
        width:47.5%;
    }
}
@media(max-width:600px){
    .first-task .item1{
        width:100%;
    }
}