.second-cards{
    margin:50px 0;
    padding:0 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    .card1{
        border:1px solid #ddd;
        padding:20px;
        border-radius: 10px;
        width: 31%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin:20px 0;
        @media(max-width:1000px){
            width: 47.5%;
        }
        @media(max-width:600px){
            width: 300px;
            max-width: 100%;
            margin:15px auto;
        }
    }
    .date{
        font-size: 14px;
    }
    .inline{
        display: flex;
        align-items: center;
        margin:15px 0;
    }
    .category{
        color:#fff;
        font-size: 13px;
        padding:6px 12.5px;
        border-radius: 5px;
      
    }
    .profile{
        content: url('./photo.png');
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin:0 15px;
    }
    span{
        font-size: 14px;
    }
    p{
        font-size: 15px;
        line-height: 1.5;
        margin-bottom: 20px;
    }
    button{
        border:1px solid #427cff;
        color: #427cff;
        padding:10px 25px;
        font-size: 15px;
        width: fit-content;
        border-radius: 20px;
        background: none;
        &:hover
        {
            background: #427cff;
            color:#fff;
            border:1px solid #427cff;
            transform: scale(1.2);
        }
    }
}

